@import url("/src/components/sidebar.css");
@import url("/src/components/banner.css");
@import url("/src/components/menu.css");
@import url("/src/components/pages.css");
@import url("/src/components/navbar.css");
@import url("/src/components/userprofile.css");

@font-face {
  font-family: zh;
  src: url(assets/fonts/zh-cn.ttf);
}
@font-face {
  font-family: nms;
  src: url(assets/fonts/NMSFuturaProBook_Kerned.ttf);
}
@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}
/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div{
  color: #fff;
}
*/

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.columns{
  display: flex;
}
.main-content{
  flex-grow: 3;
  height: fit-content ;
  overflow-x: hidden;
}
